<script id="editGaoFangIPInfoTemplate" type="text/html">

            <div id="editGaoFangipInfo" class="modal hide">
                 <form id="form_gaofangipInfo" onSubmit="return false;">
                <div class="modal-header">
                    <a id="closeModal" href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>编辑高仿ip信息</h3>
                </div>
                <div class="modal-body clearfix">
                    <table class="table table-without-margins without-borders table-striped table-scrolled ov">
                        <tr><td>ip名称:</td><td><input name="id" value='<%= model.get("id") %>' /></td></tr>
                        <tr><td>ip</td><td><input name="boundIP" disabled=disabled value='<%= model.get("boundIP") %>' /></td></tr>
                        <tr><td>所在地区</td><td><input name="region" disabled=disabled value='<%= model.get("region") %>' /></td></tr>
                        <tr><td>DDos保底峰值</td><td><input name="id" disabled=disabled value='<%= model.get("id") %>' /></td></tr>
                        <tr><td>CC防护峰值</td><td><input name="id" disabled=disabled value='<%= model.get("id") %>' /></td></tr>
                        <tr><td>当前状态</td><td><input name="status" disabled=disabled value='<%= model.get("status") %>' /></td></tr>
                        <tr><td>到期时间</td><td><input name="expire" disabled=disabled value='<%= model.get("expire") %>' /></td></tr>
                    </table>
                </div>
                <div class="modal-body clearfix" style="border-top: 1px solid #f5f5f5">
                    <table class="table table-without-margins without-borders table-striped table-scrolled ov">
                        <tr><td>当前状态:</td><td>
                            <select id="cc_protect" name="cc_protect" style="width: 50%">
                                <% if (model.get("cc_protect")==1) { %>
                                     <option selected="selected" value="1">开启</option>
                                <% } else { %>
                                     <option value="1">开启</option>
                                <% }  %>
                                 <% if (model.get("cc_protect")==0) { %>
                                     <option selected="selected" value="0">未开启</option>
                                <% } else { %>
                                    <option value="0">未开启</option>
                                <% }  %>
                            </select>
                            <button id="cc_protect_button" class="btn btn-blue pull-right">确定</button>
                        </td></tr>
                        <tr><td></td><td>想要提升防御可免费开启弹性防护</td></tr>
                    </table>
                </div>
                <div class="modal-body clearfix" style="border-top: 1px solid #f5f5f5">
                    <table class="table table-without-margins without-borders table-striped table-scrolled ov">
                        <tr><td>http请求阀值:</td><td>
                            <select id="threshold" name="threshold" style="width: 50%">
                                <% if (model.get("threshold")==240) { %>
                                    <option  selected="selected" value="240">240Qag</option>
                                <% } else { %>
                                    <option value="240">240Qag</option>
                                <% }  %>
                                <% if (model.get("threshold")==100) { %>
                                    <option selected="selected" value="100">100Qag</option>
                                <% } else { %>
                                   <option value="100">100Qag</option>
                                <% }  %>
                                <% if (model.get("threshold")==200) { %>
                                    <option selected="selected" value="200">200Qag</option>
                                <% } else { %>
                                   <option value="200">200Qag</option>
                                <% }  %>
                                <% if (model.get("threshold")==300) { %>
                                   <option selected="selected" value="300">300Qag</option>
                                <% } else { %>
                                    <option value="300">300Qag</option>
                                <% }  %>
                            </select>
                            <button id="threshold_button" class="btn btn-blue pull-right">确定</button>
                        </td></tr>
                        <tr><td></td><td>当http请求数超过设定值时,触发CC防护</td></tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-blue pull-right" value="修改"  >
                    <a id="cancelBtn" class="btn secondary cancel close" data-dismiss="modal">Cancel</a>
                </div>
               </form>
            </div>

</script>
