<script id="novaGaoFangIPTemplate" type="text/html">
<!--
Description: gaofangip
src: templates/root/nova/gaoFangIP.html
-->
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
    <a href="#floating_ips" data-toggle="tab">Floating IPs</a>
    </li>
  <li class="">
    <a href="#gaoFangIPs" data-toggle="tab">GaoFangIPs</a>
    </li>
    <li class="">
    <a href="#keypairs" data-toggle="tab">Keypairs</a>
    </li>
</ul>

<div id="" class="tab-content tab-content-adjustable">
	<div id="floating_ips" class="tab-pane tab-adjustable active"></div>
	<div id="gaoFangIPs" class="tab-pane tab-adjustable fade"></div>
	<div id="keypairs" class="tab-pane tab-adjustable fade"></div>
</div>

</script>
